.details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;

  .details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: fit-content;

    padding: 40px 30px 20px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);

    .details-image-container {
      position: relative;

      .details-image-button {
        position: absolute;
        top: 15px;
        right: 15px;
      }
    }

    // .details-image {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   //   width: auto;
    //   height: auto;
    // }

    h2,
    h3,
    p {
      max-width: 400px;
      text-align: center;

      margin-top: 15px;
    }

    .details-tags-list {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;

      width: 100%;
      max-width: 450px;

      margin-top: 15px;
    }

    .details-tag {
      color: #fff;
      padding: 5px;
      border-radius: 2px;
      text-align: center;

      min-width: 35px;

      margin: 2px;
    }

    .details-tag:first-of-type {
      background-color: red;
    }

    .details-tag:nth-of-type(2) {
      background-color: teal;
    }

    .details-tag:nth-of-type(3) {
      background-color: yellow;
    }

    .details-tag:nth-of-type(4) {
      background-color: green;
    }

    .details-tag:nth-of-type(5) {
      background-color: goldenrod;
    }

    .details-tag:nth-of-type(6) {
      background-color: greenyellow;
    }

    .details-tag:nth-of-type(7) {
      background-color: violet;
    }

    .details-tag:nth-of-type(8) {
      background-color: turquoise;
    }

    .details-tag:nth-of-type(9) {
      background-color: forestgreen;
    }

    .details-tag:nth-of-type(10) {
      background-color: orange;
    }

    ul {
    }
    .rating-stars {
      margin: 20px;

      svg {
        margin: 6px;
        transform: scale(2);
      }
    }

    // img {
    //   width: auto;
    //   height: 200px;
    // }

    .update-form {
      display: flex;
      flex-direction: column;

      margin: 15px 0px 5px;

      input,
      textarea {
        margin: 10px;
        padding: 10px;
        border: 1px solid #458db6;
        border-radius: 10px;
        background-color: #f1f2f6;
      }

      .form-buttons {
        display: flex;
        justify-content: center;

        button {
          width: 80px;
        }
      }
    }
    .pagination-container {
      display: flex;
      padding: 20px 20px 0px;
    }

    .nav-page {
      display: inline-flex;
      justify-content: center;
      align-items: center;

      height: 40px;

      margin: 5px;
      padding: 10px;
      background-color: #458db6;
      border-radius: 15px;

      font-size: 1.3em;
      font-weight: 400;
      color: #fff;
    }

    button[class^="nav"] {
      transition: transform 150ms ease-in-out, box-shadow 150ms ease-in-out;
    }

    button[class^="nav"]:hover {
      box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.5);
      transform: scale(1.02);
    }
  }
}

// .fullscreen-img-container {
//   display: flex;
//   justify-content: center;
//   position: fixed;
//   top: 0;
//   left: 0;

//   max-width: 100%;
//   height: 90%;

//   margin: 5%;
//   padding: 5%;
//   border-radius: 15px;

//   background-color: white;

//   z-index: 101;

//   .fullscreen-img {
//     height: 90%;
//     object-fit: contain;
//   }
// }

.fullscreen-img-container {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.603);

  // background-image: url(https://www.tate.org.uk/art/images/work/T/T05/T05010_9.jpg);

  .fullscreen-img-button {
    position: fixed;
    top: 15px;
    right: 15px;
  }
}
