.painting-background {
	/* scrim so we can read text over image https://css-tricks.com/design-considerations-text-images/ */
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		/* Photo source: https://unsplash.com/photos/Xx_d26R37E4 */
			url("./steve-johnson-Xx_d26R37E4-unsplash.jpg");
	background-size: cover;
	color: white;
	height: 100px;
}
